// Color variables from React project
$primary: hsl(180, 79%, 43%);
$secondary: hsl(180, 76%, 24%);
$tertiary: hsl(214, 87%, 26%);
$success: hsl(90, 64%, 58%);
$warning: hsl(62, 89%, 58%);
$danger: hsl(0, 83%, 59%);
$accent: hsl(39, 89%, 53%);

// Background and text
$body-bg: hsl(29, 29%, 96%);
$body-color: hsl(0, 0%, 26%);

// Light Color versions
$primary-light: hsl(180, 62%, 64%);
$secondary-light: hsl(180, 69%, 35%);
$tertiary-light: hsl(214, 70%, 55%);
$success-light: hsl(90, 63%, 65%);
$warning-light: hsl(62, 82%, 69%);
$danger-light: hsl(0, 82%, 68%);
$accent-light: hsl(39, 86%, 60%);

// Dark Color versions
$primary-dark: hsl(190, 84%, 36%);
$secondary-dark: hsl(180, 80%, 21%);
$tertiary-dark: hsl(214, 84%, 16%);
$success-dark: hsl(90, 66%, 47%);
$warning-dark: hsl(62, 91%, 46%);
$danger-dark: hsl(0, 84%, 49%);
$accent-dark: hsl(39, 92%, 46%);
