// Importamos las variables de color y fuentes
@import "variables";
@import "fonts";

// Sobreescribimos el color del Background y de las fuentes
$body-bg: hsl(29, 29%, 96%); // Fondo de la web
$body-color: hsl(0, 0%, 26%); // Color de texto por defecto

// Sobreescribimos las fuentes
$font-family-sans-serif: 'Outfit', system-ui, -apple-system, sans-serif;
$headings-font-family: 'Jost', sans-serif;

// Pesos de las fuentes
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;

// Modal Universal
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

// Importar functions y variables de Bootstrap antes del merge
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// Inyectamos nuestras variables en los mapas de Bootstrap
$custom-colors: (
    "tertiary": $tertiary,
    "tertiary-light": $tertiary-light,
    "tertiary-dark": $tertiary-dark,
    "accent": $accent,
    "accent-light": $accent-light,
    "accent-dark": $accent-dark,
    "primary-light": $primary-light,
    "primary-dark": $primary-dark,
    "secondary-light": $secondary-light,
    "secondary-dark": $secondary-dark,
    "success-light": $success-light,
    "success-dark": $success-dark,
    "warning-light": $warning-light,
    "warning-dark": $warning-dark,
    "danger-light": $danger-light,
    "danger-dark": $danger-dark
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/bootstrap";

// Para que el botón accent se oscurezca y no se aclare al hacer hover
.btn-accent {
    --bs-btn-hover-bg: #{$accent-dark};
    --bs-btn-hover-border-color: #{$accent-dark};
    --bs-btn-active-bg: #{$accent-dark};
    --bs-btn-active-border-color: #{$accent-dark};
}

// Para que el botón primary se oscurezca y no se aclare al hacer hover
.btn-primary {
    --bs-btn-hover-bg: #{$primary-dark};
    --bs-btn-hover-border-color: #{$primary-dark};
    --bs-btn-active-bg: #{$primary-dark};
    --bs-btn-active-border-color: #{$primary-dark};
}

// Nuevas utilidades de degradados (bg-gradient-*)
.bg-gradient-primary-secondary {
    background: linear-gradient(90deg, $primary 0%, $secondary 100%) !important;
}

.bg-gradient-primary-tertiary {
    background: linear-gradient(90deg, $primary 0%, $tertiary 100%) !important;
}

.bg-gradient-secondary-tertiary {
    background: linear-gradient(90deg, $secondary 0%, $tertiary 100%) !important;
}

@import "bootstrap-icons/font/bootstrap-icons";
